
/* Fondo degradado utilizado en toda las pantallas */
body {
    background: linear-gradient(120deg, #1f49d46a 0%, #c860bc84 100%);

}

/* Footer utilizado en todas las pantallas */
footer {
    color: rgb(43, 0, 128);
}
.navbar.nav-purple {
    background: #5e27c4d8;
    min-width: 500px;
}

.container-principal {
    background: rgba(255, 255, 255, 0.583);
    border: none;
    max-width: 550px;
    min-width: 400px;
}

/* Container con ek saldo utilizado en multiples pantallas */
.saldo-container {
    background: linear-gradient(120deg, #1f49d4df 0%, #c860bcc3 100%);
    color: white;
    border: none;
}

.saldo-monto {
    color: white;
}

.card {

    border: none;
}

/* Card utilizado en la pantalla login */
.login-card {
    background: white;
    max-width: 500px;
    min-width: 400px;
}

.login-tittle {
    color: rgb(43, 0, 128);
}

/* Botones utilizado en el menú inicial  */
.btn-menu {
    background: linear-gradient(120deg, #1f49d46a 0%, #c860bc84 100%);
    color: rgb(43, 0, 128);
    border: none;
    border-radius: 0.75rem;
    padding: 5px;
}

.btn-menu:hover {
    background: linear-gradient(120deg, #1f49d4cc 0%, #c860bccc 100%);
    color: white;
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* form check */
.form-check-input:checked {
    background-color: #6f42c1;
    border-color: #3c1b79;
}

.form-check-input:hover {
    background: rgba(87, 8, 124, 0.638);
}

.text-menu {
    color: rgb(43, 0, 128);
}

/* Botón accionable ubicado en varios card */
.btn-purple {
    background: rgba(87, 8, 124, 0.76);
    border: none;
    color: white;
}

.btn-purple:hover {
    background: rgba(46, 18, 157, 0.842);
    color: white;
}

/* Botones filtro ubicados en transacciones recientes*/
.btn-filter {
    background-color: #3643bfd6;
    color: white;
    border: none;
}

.btn-check:checked + .btn-filter {
    background-color: #5a32a3;
    color: white;
}